<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline' 'unsafe-eval'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <!-- removed ", target-densitydpi=device-dpi" -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>SimpleCalc</title>
  </head>
  <body>

    <menu class="menu-left">
      <group>
        <img src="img/menu-logo.svg" id="brand">
      </group>
      <group>
        <i id="btn_menu_mortgageType" class="flexContainer flexContainerRow iconText touchable">
          <img src="img/menu-mortgage-type.svg" class="flexItem">
          <label class="flexItem flexItemElastic">
            Mortgage Type: <value>Purchase</value>
          </label>
        </i>
        <i id="btn_menu_explore" class="flexContainer flexContainerRow iconText touchable">
          <img src="img/menu-explore.svg" class="flexItem">
          <label class="flexItem flexItemElastic">
            Find a professional
          </label>
        </i>
      </group>
      <group>
        <i id="btn_menu_settings" class="flexContainer flexContainerRow iconText touchable">
          <img src="img/menu-settings.svg" class="flexItem">
          <label class="flexItem flexItemElastic">
            Settings
          </label>
        </i>
        <i id="btn_menu_logout" class="flexContainer flexContainerRow iconText touchable">
          <img src="img/menu-logout.svg" class="flexItem">
          <label class="flexItem flexItemElastic">
            Sign out
          </label>
        </i>
      </group>
    </menu>

    <app>
      <screen id="calculate" class="hidden hasNav flexContainer flexContainerSpaceBetween">
        <nav class="top">
          <left>
            <i id="btn_menu" class="touchable" style="touch-action: none;">
              <img src="img/nav-menu.svg">
            </i>
          </left>
          <scrtitle></scrtitle>
          <right></right>
        </nav>
        <content class="flexContainer flexContainerSpaceBetween">
          <helper class="flexItem">
            <text>
              Tap the red highlighted text to edit.
            </text>
          </helper>
          <mortgage-calculation class="flexItem">
            <mortgage-type class="purchase">
              <summary>
                <principal class="touchable" style="touch-action: none;">$200,000</principal> home, less <down class="touchable" style="touch-action: none;">$10,000 <pct>5%</pct></down> down, for <amortization class="touchable" style="touch-action: none;">25 years</amortization> at <rate class="touchable" style="touch-action: none;">4.967%</rate>, <frequency class="touchable" style="touch-action: none;">monthly</frequency> is <calculated>$1,147</calculated>.
              </summary>
              <insurance class="touchable" style="touch-action: none;">
                <!-- #tpl_insurance_purchase -->
              </insurance>
            </mortgage-type>
            <mortgage-type class="refinance hidden">
              <summary>
                <principal class="touchable" style="touch-action: none;">$200,000</principal> home value, with <down class="touchable" style="touch-action: none;">$190,000 <ltv>95%</ltv></down> to finance, for <amortization class="touchable" style="touch-action: none;">25 years</amortization> at <rate class="touchable" style="touch-action: none;">4.967%</rate>, <frequency class="touchable" style="touch-action: none;">monthly</frequency> is <calculated>$1,147</calculated>.
              </summary>
              <insurance class="touchable" style="touch-action: none;">
                <!-- #tpl_insurance_refinance -->
              </insurance>
            </mortgage-type>
            <mortgage-type class="port hidden">
              <summary>
                <principal class="touchable" style="touch-action: none;">$200,000</principal> home value, with <down class="touchable" style="touch-action: none;">$190,000 <ltv>95%</ltv></down> to finance, for <amortization class="touchable" style="touch-action: none;">25 years</amortization> at <rate class="touchable" style="touch-action: none;">4.967%</rate>, <frequency class="touchable" style="touch-action: none;">monthly</frequency> is <calculated>$1,147</calculated>.
              </summary>
              <insurance class="touchable" style="touch-action: none;">
                <!-- #tpl_insurance_port -->
              </insurance>
            </mortgage-type>
          </mortgage-calculation>
          <user-input class="flexItem flexContainer">
            <numberpad class="hide principal flexItem">
              <row>
                <key data-value="7" class="touchable" style="touch-action: none;">
                  <face>7</face>
                </key>
                <key data-value="8" class="touchable" style="touch-action: none;">
                  <face>8</face>
                </key>
                <key data-value="9" class="touchable" style="touch-action: none;">
                  <face>9</face>
                </key>
                <key data-value="clear" class="touchable destroy" style="touch-action: none;">
                  <face>
                    <img src="img/btn-clear.svg" alt="Clear Entry" width="27" height="27">
                  </face>
                </key>
              </row>
              <row>
                <key data-value="4" class="touchable" style="touch-action: none;">
                  <face>4</face>
                </key>
                <key data-value="5" class="touchable" style="touch-action: none;">
                  <face>5</face>
                </key>
                <key data-value="6" class="touchable" style="touch-action: none;">
                  <face>6</face>
                </key>
                <key data-value="delete" class="touchable destroy" style="touch-action: none;">
                  <face>
                    <img src="img/btn-delete.svg" alt="Delete character" width="27" height="27">
                  </face>
                </key>
              </row>
              <row>
                <column>
                  <row>
                    <key data-value="1" class="touchable" style="touch-action: none;">
                      <face>1</face>
                    </key>
                    <key data-value="2" class="touchable" style="touch-action: none;">
                      <face>2</face>
                    </key>
                    <key data-value="3" class="touchable" style="touch-action: none;">
                      <face>3</face>
                    </key>
                  </row>
                  <row class="flexItemElastic">
                    <key data-value="0" class="touchable wide" style="touch-action: none;">
                      <face>0</face>
                    </key>
                    <key data-value="decimal" class="disabled" style="touch-action: none;">
                      <face>.</face>
                    </key>
                  </row>
                </column>
                <key data-value="confirm" class="touchable tall" style="touch-action: none;">
                  <face>
                    <img src="img/btn-confirm.svg" alt="Confirm Entry" width="31" height="27">
                  </face>
                </key>
              </row>
            </numberpad>
            <numberpad class="hide down flexItem">
              <row>
                <key data-value="0.05" class="touchable small confirm" style="touch-action: none;">
                  5%
                </key>
                <key data-value="0.1" class="touchable small confirm" style="touch-action: none;">
                  10%
                </key>
                <key data-value="0.15" class="touchable small confirm" style="touch-action: none;">
                  15%
                </key>
                <key data-value="0.2" class="touchable small confirm" style="touch-action: none;">
                  20%
                </key>
              </row>
              <row>
                <key data-value="7" class="touchable" style="touch-action: none;">
                  <face>7</face>
                </key>
                <key data-value="8" class="touchable" style="touch-action: none;">
                  <face>8</face>
                </key>
                <key data-value="9" class="touchable" style="touch-action: none;">
                  <face>9</face>
                </key>
                <key data-value="clear" class="touchable destroy" style="touch-action: none;">
                  <face>
                    <img src="img/btn-clear.svg" alt="Clear Entry" width="27" height="27">
                  </face>
                </key>
              </row>
              <row>
                <key data-value="4" class="touchable" style="touch-action: none;">
                  <face>4</face>
                </key>
                <key data-value="5" class="touchable" style="touch-action: none;">
                  <face>5</face>
                </key>
                <key data-value="6" class="touchable" style="touch-action: none;">
                  <face>6</face>
                </key>
                <key data-value="delete" class="touchable destroy" style="touch-action: none;">
                  <face>
                    <img src="img/btn-delete.svg" alt="Delete character" width="27" height="27">
                  </face>
                </key>
              </row>
              <row>
                <column>
                  <row>
                    <key data-value="1" class="touchable" style="touch-action: none;">
                      <face>1</face>
                    </key>
                    <key data-value="2" class="touchable" style="touch-action: none;">
                      <face>2</face>
                    </key>
                    <key data-value="3" class="touchable" style="touch-action: none;">
                      <face>3</face>
                    </key>
                  </row>
                  <row class="flexItemElastic">
                    <key data-value="0" class="touchable wide" style="touch-action: none;">
                      <face>0</face>
                    </key>
                    <key data-value="decimal" class="disabled" style="touch-action: none;">
                      <face>.</face>
                    </key>
                  </row>
                </column>
                <key data-value="confirm" class="touchable tall confirm" style="touch-action: none;">
                  <face>
                    <img src="img/btn-confirm.svg" alt="Confirm Entry" width="31" height="27">
                  </face>
                </key>
              </row>
            </numberpad>
            <numberpad class="hide amortization flexItem">
              <row>
                <key data-value="7" class="touchable" style="touch-action: none;">
                  <face>7</face>
                </key>
                <key data-value="8" class="touchable" style="touch-action: none;">
                  <face>8</face>
                </key>
                <key data-value="9" class="touchable" style="touch-action: none;">
                  <face>9</face>
                </key>
                <key data-value="300" class="touchable confirm" style="touch-action: none;">
                  <face>
                    25
                  </face>
                </key>
              </row>
              <row>
                <key data-value="4" class="touchable" style="touch-action: none;">
                  <face>4</face>
                </key>
                <key data-value="5" class="touchable" style="touch-action: none;">
                  <face>5</face>
                </key>
                <key data-value="6" class="touchable" style="touch-action: none;">
                  <face>6</face>
                </key>
                <key data-value="240" class="touchable confirm" style="touch-action: none;">
                  <face>
                    20
                  </face>
                </key>
              </row>
              <row>
                <column>
                  <row>
                    <key data-value="1" class="touchable" style="touch-action: none;">
                      <face>1</face>
                    </key>
                    <key data-value="2" class="touchable" style="touch-action: none;">
                      <face>2</face>
                    </key>
                    <key data-value="3" class="touchable" style="touch-action: none;">
                      <face>3</face>
                    </key>
                  </row>
                  <row class="flexItemElastic">
                    <key data-value="0" class="touchable wide" style="touch-action: none;">
                      <face>0</face>
                    </key>
                    <key data-value="decimal" class="disabled" style="touch-action: none;">
                      <face>.</face>
                    </key>
                  </row>
                </column>
                <key data-value="confirm" class="touchable tall confirm" style="touch-action: none;">
                  <face>
                    <img src="img/btn-confirm.svg" alt="Confirm Entry" width="31" height="27">
                  </face>
                </key>
              </row>
            </numberpad>
            <numberpad class="hide rate flexItem">
              <row>
                <key data-value="7" class="touchable" style="touch-action: none;">
                  <face>7</face>
                </key>
                <key data-value="8" class="touchable" style="touch-action: none;">
                  <face>8</face>
                </key>
                <key data-value="9" class="touchable" style="touch-action: none;">
                  <face>9</face>
                </key>
                <key data-value="clear" class="touchable destroy" style="touch-action: none;">
                  <face>
                    <img src="img/btn-clear.svg" alt="Clear Entry" width="27" height="27">
                  </face>
                </key>
              </row>
              <row>
                <key data-value="4" class="touchable" style="touch-action: none;">
                  <face>4</face>
                </key>
                <key data-value="5" class="touchable" style="touch-action: none;">
                  <face>5</face>
                </key>
                <key data-value="6" class="touchable" style="touch-action: none;">
                  <face>6</face>
                </key>
                <key data-value="delete" class="touchable destroy" style="touch-action: none;">
                  <face>
                    <img src="img/btn-delete.svg" alt="Delete character" width="27" height="27">
                  </face>
                </key>
              </row>
              <row>
                <column>
                  <row>
                    <key data-value="1" class="touchable" style="touch-action: none;">
                      <face>1</face>
                    </key>
                    <key data-value="2" class="touchable" style="touch-action: none;">
                      <face>2</face>
                    </key>
                    <key data-value="3" class="touchable" style="touch-action: none;">
                      <face>3</face>
                    </key>
                  </row>
                  <row class="flexItemElastic">
                    <key data-value="0" class="touchable wide" style="touch-action: none;">
                      <face>0</face>
                    </key>
                    <key data-value="decimal" class="touchable" style="touch-action: none;">
                      <face>.</face>
                    </key>
                  </row>
                </column>
                <key data-value="confirm" class="touchable tall" style="touch-action: none;">
                  <face>
                    <img src="img/btn-confirm.svg" alt="Confirm Entry" width="31" height="27">
                  </face>
                </key>
              </row>
            </numberpad>
            <frequency-selector class="hide flexItem">
              stuff
            </frequency-selector>
          </user-input>
        </content>
      </screen>
    </app>

    <overlay></overlay>

    <!-- Underscore.js HTML templates -->
    <script id="tpl_insurance_purchase" type="text/template">
      <% if(TD.ltv <= cmhc.purchase[1].ltvMax ) { %>
      <row>
        <text style="min-width:2.3rem;">
          <img src="img/icon-cmhc-chevron.svg" width="23" height="10">
        </text>
        <text style="padding-left:1rem;">
          <insurance-summary>
            CMHC Mortgage Loan Insurance is about <insurance-amount>$<%=utility.formatNumber(TD.insuranceAmount) %></insurance-amount> of this <financed-amount>$<%=utility.formatNumber(TD.financedAmount) %></financed-amount> <transaction-type>purchase</transaction-type>.
          </insurance-summary>
        </text>
      </row>
      <% } else { %>
      <row>
        <text style="min-width:2.3rem;">
          <img src="img/icon-cmhc-chevron.svg" width="23" height="10">
        </text>
        <text style="padding-left:1rem;">
          <insurance-summary>
            Your down-payment is too low to qualify for CMHC Mortgage Loan Insurance.  Therefore, your financial institution will likely require a higher down-payment.
          </insurance-summary>
        </text>
      </row>
      <% } %>
    </script>
    <script id="tpl_insurance_refinance" type="text/template">
      <% if(TD.ltv <= cmhc.refinance[4].ltvMax ) { %>
      <row>
        <text style="min-width:2.3rem;">
          <img src="img/icon-cmhc-chevron.svg" width="23" height="10">
        </text>
        <text style="padding-left:1rem;">
          <insurance-summary>
            CMHC Mortgage Loan Insurance is about <insurance-amount>$<%=utility.formatNumber(TD.insuranceAmount) %></insurance-amount> of this <financed-amount>$<%=utility.formatNumber(TD.financedAmount) %></financed-amount> <transaction-type>refinance</transaction-type>.
          </insurance-summary>
        </text>
      </row>
      <% } else { %>
      <row>
        <text style="min-width:2.3rem;">
          <img src="img/icon-cmhc-chevron.svg" width="23" height="10">
        </text>
        <text style="padding-left:1rem;">
          <insurance-summary>
            Your Loan-to-Value ratio, <%=(TD.ltv * 100) %>%, is too low to qualify for CMHC Mortgage Loan Insurance. Must be at least <%=(cmhc.refinance[4].ltvMax * 100) %>%.
          </insurance-summary>
        </text>
      </row>
      <% } %>
    </script>
    <script id="tpl_insurance_port" type="text/template">
      <% if(TD.ltv <= cmhc.port[4].ltvMax ) { %>
      <row>
        <text style="min-width:2.3rem;">
          <img src="img/icon-cmhc-chevron.svg" width="23" height="10">
        </text>
        <text style="padding-left:1rem;">
          <insurance-summary>
            CMHC Mortgage Loan Insurance is about <insurance-amount>$<%=utility.formatNumber(TD.insuranceAmount) %></insurance-amount> of this <financed-amount>$<%=utility.formatNumber(TD.financedAmount) %></financed-amount> <transaction-type>port</transaction-type>.
          </insurance-summary>
        </text>
      </row>
      <% } else { %>
      <row>
        <text style="min-width:2.3rem;">
          <img src="img/icon-cmhc-chevron.svg" width="23" height="10">
        </text>
        <text style="padding-left:1rem;">
          <insurance-summary>
            Your Loan-to-Value ratio, <%=(TD.ltv * 100) %>%, is too low to qualify for CMHC Mortgage Loan Insurance. Must be at least <%=(cmhc.port[4].ltvMax * 100) %>%.
          </insurance-summary>
        </text>
      </row>
      <% } %>
    </script>

    <script type="text/javascript" src="cordova.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/lib/jquery-2.2.0.min.js"></script>
    <script src="js/lib/hammer.min.js"></script>
    <script src="js/lib/hammer-time.js"></script>
    <script src="js/lib/jquery.hammer.js"></script>
    <script src="js/lib/parse-1.6.14.min.js"></script>
    <script src="js/lib/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="js/core.min.js"></script>
    <script type="text/javascript">
      app.initialize();
    </script>
  </body>
</html>
